{
    "csebase": "onem2m",
    "cseid": "mobius",
    "csebaseport": "7579",
    "csetype": "in",
    "dbhost": "localhost",
    "dbuser": "mobius",
    "dbpass": "mobiuspass",
    "dbname": "mobiusdb",
    "pxymqttport": 7580,
    "pxycoapport": 5683,
    "pxywsport": 7577,
    "tsagentport": 7582,
    "mqttbroker": "localhost",
    "mqttport": 1883,
    "usesecure": "disable",
    "logDir": "./log"
}
