{
    "csebase": "onem2m",
    "cseid": "mobius",
    "csebaseport": "7579",
    "csetype": "in",
    "dbhost": "localhost",
    "dbport": 3306,
    "dbuser": "mobius",
    "dbpass": "mobiuspass",
    "dbname": "mobiusdb",
    "pxymqttport": 7580,
    "pxycoapport": 5683,
    "pxywsport": 7577,
    "tsagentport": 7582,
    "mqttbroker": "localhost",
    "semanticbroker": "10.10.202.114",
    "mqttport": 1883,
    "usesecure": "disable",
    "accesscontrolpolicy": "disable",
    "logDir": "./log",
    "allowedAppIds": ["C-allowed-id"],
    "spid": "//keti.re.kr",
    "superuser": "Superman",
    "observer": "Sandwich"
}
